.contact-header {
  text-align: center;
  padding: 2rem;
  border-bottom: 1px solid #ccc;

  margin-bottom: 5rem 0;
}
.contact-header h1 {
  text-transform: uppercase;
  color: #553c9a;

}
.contact-container {

  width: 90%;
  margin: auto;
}
.form-header{
    text-align: center;
    padding: 1rem;
    margin: 1rem;
}
