.about-header {
    text-align: center;
    padding: 2rem;
    border-bottom: 1px solid #ccc;
  }
  .about-header h1 {
    text-transform: uppercase;
  }
.about-container{
    width: 90%;
  margin: auto;  
}
footer {
    margin-top: auto;
}