.contact-header {
  text-align: center;
  padding: 2rem;
  
  margin-bottom: 5rem 0;
  border-radius: 1px solid #ccc;

}
.contact-header h1 {
  text-transform: uppercase;
}
.contact-container {

  width: 90%;
  margin: auto;
}
.form-header{
    text-align: center;
    padding: 1rem;
    margin: 1rem;
}
.bottm-container{
  display: flex;
}
.map-container{
margin-left: 10em;
margin-bottom: 2em;
}
.map-header{
  display: flex;
  text-align: center;
}
.map-icon{
  margin-left: 1em;
  margin-right: 1em;
}
iframe{
  width: 40vw;
  height: 50vh;
}

@media(max-width: 900px ){
  .bottm-container{
    display: block;
  }
  iframe{
    width: 80vw;
    height: 60vh;
  }
  .map-container{
    display: block;
    margin-left: 0;
    }
}