@media (min-width: 1200px) {
 .mg-l{
   margin-left: 2vw;
 }
 .mg-r{
  margin-right: 2vw;
}
 .m-flex{
   display: flex;
 }
  
}
@media (max-width: 1200px) {
 .c-container{
   max-width: 70vw;
   margin: 3em auto;
 }
   
 }

@media (max-width: 600px) {
  .m-flex{
    display: block;
  }
  .c-container{
    max-width: 90vw;
    margin: 3em auto;
  }
  }

  .box-shadow-hover{
    transition-property: all;
    transition-duration: 2s;
  }

  .box-shadow-hover:hover{
    box-shadow: 2em 2em 2em #ccc;
  }
