.about-header {
    text-align: center;
    padding: 2rem;
  }
  .about-header h1 {
    text-transform: uppercase;
  }
.about-container{
    width: 90%;
  margin: auto;  
}
.section{
  margin: 3rem 0rem;
  padding: 1rem 0rem;
}
.section-component {
  margin: 2rem;
  padding: 1rem;
}
.section-component-header{
  
  margin: .5rem 0;
}
.section-component li {
  margin-left: 1rem;
}
footer {
    margin-top: auto;
}