.product-header {
  text-align: center;
  padding: 2rem;
  border-bottom: 1px solid #ccc;
}
.product-header h1 {
  text-transform: uppercase;
}
.container-main{
    width: 90%;
  margin: auto;  
}
.items-center {
  width: 100%;
  margin: auto;
}
.flex-col {
  background-color: rgb(255, 255, 255);
  margin-top: 2rem;
  transition-property: all;
  transition-duration: 1s;
  padding: 1rem;
  border: 1px solid #ccc;
}
.flex-col:hover{
    box-shadow:.5em.5em.5em.5em #ccc;
}
