.contact-header {
  text-align: center;
  padding: 2rem;
  
  margin-bottom: 5rem 0;
}
.contact-header h1 {
  text-transform: uppercase;
}
.contact-container {

  width: 90%;
  margin: auto;
}
.form-header{
    text-align: center;
    padding: 1rem;
    margin: 1rem;
}
