.fag-header{
    text-align: center;
    padding: 2rem;
    text-transform: uppercase;
    border-bottom: 1px solid #ccc;
}

.fag-header h1{
    text-shadow: 2em 2em 2em 2em rgb(167, 166, 166);
    color: #553c9a;
}
.container-main-faqs {
    width: 90%;
    margin: 4rem auto;
}

.question{
    margin: 2rem 0;
    padding: 1rem .5rem;
}
.question-header{
    margin: 0;
    font-weight: bold;
}
