

.nav-menu {


  @apply px-2 text-gray-700 no-underline;
}
v-menu:hover {
  @apply text-blue-600;
}

.nav-menu-border {
  @apply border-gray-400;
}

@screen md {
  .nav-menu-border {
    @apply border-r;
  }
}

@screen md {
  .nav-menu {
    @apply pl-0 mr-3 pr-3;
  }
}

.nav-menu__item {

  @apply .block;
  @apply .no-underline;
  @apply .mb-4;
  @apply .mt-0;
  @apply .text-gray-800;
  @apply .text-sm;

}
.my-nav{
  min-height: 10vh;
}
 .my-nav a{
   font-size: 1.2rem;
   color: rgb(80, 79, 79) ;
 }

.navbar-brand img {
    width: 250px;


}
.nav-content{
  margin-top: 2em;

}

  
