.service-main-header {
    text-align: center;
    padding: 2rem;
  }

.service-main-header  h1 {
    text-transform: uppercase;
  }
.services-container-main{
    width: 90%;
  margin: 0 auto 3rem auto;  
}


.service {
    padding: 1rem 0;
    margin: 1rem 0;
}

.service-header{
    font-family: bold;

}
.service-content>p{
    line-height: 1.5em;
    padding: 1em 0;
}